

<div class="container lg-12">
    <div class="comments">
        {{#each post.comments}}
        <div class="card">
            <div class="card-header bg-dark">

            </div>
            <div class="card-body">
                <form class="comment-form">
                    <h4>{{comment_text}} </h4>
                    </br>
                    -{{user.username}} on {{format_date created_at}}
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>