* {
    font-family: 'Blinker', sans-serif;
   
}

.navbar-brand {
    font-size: 3.5rem;
}


.nav-item {
    display:flex;
    align-items: center;
    padding:  1.5rem;
    font-size:1.5rem;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

.card-header{
    color: white;
    font-size: 2rem;
}

.container {
    margin-top: 2rem;
    font-size: 1.2rem;
   
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: 2rem;
}

.card-body{
    border: 1px solid;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    
}

.row{
    padding: 2rem;
    justify-content:center;
}

label, input {
    margin: 1rem;
}

#logout {
    border: none;
    background:none;
    padding:none;
    align-items: center;
}


#footer {
    display: flex;
    /* min-height:100vh;
    flex-direction: column; */
    justify-content:center;
    margin-top: 1rem;
}